.page-header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/img/hat-cart.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
