<div class="sidebar">
  <div class="sidebar-header">
<!--    <i class="fas fa-cogs"></i>-->
  </div>
  <ul class="sidebar-links">
    <li>
      <a routerLink="/admin/loaisanpham" routerLinkActive="active">
        <i class="fas fa-tags"></i> Loại Sản Phẩm
      </a>
    </li>
    <li>
      <a routerLink="/admin/sanpham" routerLinkActive="active">
        <i class="fas fa-box"></i> Sản Phẩm
      </a>
    </li>
    <li>
      <a routerLink="/admin/duyetdonhang" routerLinkActive="active">
        <i class="fas fa-box"></i> Duyệt đơn hàng
      </a>
    </li>
  </ul>
</div>
